.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-top: 15px;
}

.button__link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.button__mail,
.button__linkedin {
    cursor: pointer;
    width: 115px;
    height: 34px;
    border-radius: 6px;
    border: none;
    padding: 9px auto;
}

.button--blue {
    background-color: #5093E2;
    color: white;
}

.button__text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
